<h3>Helmet</h3>
<div class="form-group">
  <%= f.label :helmet_brand, "แบนด์", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :helmet_brand, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :helmet_size, "ไซส์", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :helmet_size, class: 'form-control' %>
  </div>
</div>