<span class="pull-right">
  <%= link_to "ลงประกาศ", new_wake_board_path, class: 'btn btn-default' %>
</span>
<div class="clearfix"></div>
<div class="ibox">
  <div class="ibox-title">
    สินค้าขายล่าสุด
  </div>
  <div class="ibox-content">
    <% @listings.each do |listing| %>
      <%= listing.title %>
    <% end %>
  </div>
</div>