<div class="ibox">
  <div class="ibox-title">
    รายละเอียดสินค้า
    <span class="pull-right">
      <%= link_to "Edit", send("edit_#{params[:type].underscore}_path", @listing), class: 'btn btn-default btn-xs' %>
    </span>
  </div>
  <div class="ibox-content">
    <div class="row">
      <!-- Photo -->
      <div class="col-md-3">
        Photo
      </div>

      <!-- Details -->
      <div class="col-md-7">
        <table class="table text-both-center">
          <tr>
            <th width="200px">Price</th>
            <td><%= @listing.price %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= @listing.description %></td>
          </tr>
        </table>
      </div>

      <!-- Seller -->
      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>