<table class="table text-both-center table-condensed list-details">
  <tr>
    <th class="title-column elements"></th>
    <th class="elements">Boot</th>
  </tr>
  <tr>
    <th>ปี</th>
    <td><%= listing.year %></td>
  </tr>
  <tr>
    <th>แบรนด์</th>
    <td><%= listing.brand %></td>
  </tr>
  <tr>
    <th>ไซส์</th>
    <td><%= listing.size %></td>
  </tr>

</table>