.listing-lists {
  .listing-image {
    margin: 0 auto;
  }
  .listing-price {
    .listing-label {

    }
    .listing-value {
      font-size: 24px;
      float:right;
      font-weight: bold;
    }
  }
  .listing-title {
    line-height: 1.5em;
  }
}