<table class="table text-both-center">
  <tr>
    <th width="200px">ราคา</th>
    <td><%= listing.price %></td>
  </tr>
  <tr>
    <th>รายละเอียด</th>
    <td><%= listing.description %></td>
  </tr>
  <tr>
    <th>แบรนด์</th>
    <td><%= listing.brand %></td>
  </tr>
  <tr>
    <th>ไซส์</th>
    <td><%= listing.size %></td>
  </tr>
</table>